.cards {
    margin: 0 70px 80px;
    padding: 81px 0 0;
    border-top: 1px solid #424242;
    display: flex;
    flex-direction: column;
}

.cards__error {
    min-height: 12px;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    font-size: 21px;
    line-height: 1.4;
    color: #EE3465;
}

.cards__elements {
    margin: 0;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 0;
}

.cards__button-more {
    margin: 48px auto 0;
    background-color: initial;
    border: 1px solid #424242;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    transition: opacity .2s;
    height: 36px;
    width: 320px;
}

.cards__button-more_hidden {
    display: none;
}

.cards__button-more:hover {
    opacity: .6;
}

@media screen and (max-width: 908px) {
    .cards {
        margin: 0 30px 99px;
    }

    .cards__error {
        font-size: 18px;
    }

    .cards__button-more {
        margin: 45px auto 0;
    }
}


@media screen and (max-width: 532px) {
    .cards {
        margin: 0 10px 92px;
        padding: 51px 0 0;
    }

    .cards__error {
        font-size: 12px;
    }

    .cards__elements {
        gap: 22px;
    }

    .cards__button-more {
        width: 240px;
        margin: 49px auto 0;
    }
}