.promo {
    color: #FFFFFF;
    background-color: #073042;
    padding-bottom: 85px;
}

.promo__content {
    margin: 75px 70px 0;
    display: flex;
    justify-content: space-between;
}

.promo__info {}

.promo__title {
    max-width: 640px;
    font-size: 50px;
    line-height: 1.16;
    font-weight: 400;
    margin: 0 0 38px;
}

.promo__text {
    max-width: 310px;
    opacity: 0.5;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 154px;
}

.promo__link {
    margin: 0;
    opacity: 0.6;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    cursor: pointer;
    text-decoration: none;
    transition: opacity .2s;
    color: #FFFFFF;
    padding: 10px 20px;
}

.promo__link:hover {
    opacity: .6;
}

.promo__logo {
    background-image: url(../../images/promo-logo.svg);
    background-size: cover;
    width: 310px;
    height: 304px;
}


@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotation {
    animation: rotation 20s linear infinite;
}