.nav__links {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-items: center;
}

.nav__link {
    cursor: pointer;
    text-decoration: none;
    transition: opacity .2s;
    color: #FFFFFF;
}

.nav__link:hover {
    opacity: .6;
}

.nav__link_active {
    font-weight: 500;
}

/* Menu Main */

.nav__main {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
    margin: 0 70px 0 0;
}

.nav__links_sign {
    gap: 30px;
}

.nav__link_main {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
}

.nav__link_signin {
    background: #3DDC84;
    border-radius: 3px;
    color: #000000;
    padding: 9px 20px;
}

/* Menu Movies */

.nav__movies {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
    margin: 0 70px 0 0;
}

.nav__side-menu {
    display: none;
}

.nav__links_movie {
    gap: 16px;
    margin-left: 109px;
}

.nav__link_movie {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.4;
}

.nav__list-item:first-child {
    display: none;
}

.nav__link_account {
    flex-wrap: wrap;
    align-content: center;
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    border: 2px solid #AAAAAA;
    border-radius: 50px;
    gap: 7px;
    padding: 0 10px;
    width: 100px;
    height: 32px;
    justify-content: center;
    box-sizing: border-box;
    margin: 0 0 0 348px;
}

@media screen and (max-width: 1160px) {
    .nav__link_account {
        margin: 0 0 0 230px;
    }
}


@media screen and (max-width: 908px) {
    .nav__main {
        margin: 0 30px 0 0;
    }

    /* Menu Movies in Hamburger */
    .nav__movies {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .3);
        overflow: hidden;
        display: flex;
        margin: 0;
        padding: 0;
        max-height: 0;
        transition: max-height .1s ease-out;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        z-index: 2;
    }

    .nav__list-item:first-child {
        display: flex;
    }

    .nav__link_active {
        padding: 0 0 4px 0;
        border-bottom: 2px solid #FFFFFF;
    }

    .nav__links_movie {
        flex-direction: column;
        align-items: center;
        width: 520px;
        height: 100%;
        padding: 159px 0;
        margin: 0;
        background-color: #202020;
        gap: 28px;
    }

    .nav__link_movie {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
    }

    .nav__link_account {
        margin: 593px 0 0;
    }

    /* Menu Icon */

    .nav__hamb-menu {
        cursor: pointer;
        float: right;
        margin: 2px 32px 0 0;
        padding: 15px 5px;
        z-index: 3;
    }

    .nav__hamb-line {
        background: white;
        display: block;
        height: 3px;
        position: relative;
        width: 28px;
    }

    .nav__hamb-line::before,
    .nav__hamb-line::after {
        background: white;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .nav__hamb-line::before {
        top: 10px;
    }

    .nav__hamb-line::after {
        top: -10px;
    }

    /* Toggle menu icon */

    .nav__side-menu:checked~.nav__movies {
        max-height: 100%;
    }

    .nav__side-menu:checked~.nav__hamb-menu .nav__hamb-line {
        background: transparent;
    }

    .nav__side-menu:checked~.nav__hamb-menu .nav__hamb-line::before {
        transform: rotate(-45deg);
        top: 0;

    }

    .nav__side-menu:checked~.nav__hamb-menu .nav__hamb-line::after {
        transform: rotate(45deg);
        top: 0;
    }
}

@media screen and (max-width: 532px) {

    /* Menu Movies */
    .nav__links_movie {
        width: 100%;
        padding: 145px 0;
        gap: 24px;
    }

    .nav__link_active {
        padding: 0 0 6px 0;
    }

    .nav__link_account {
        margin: 420px 0 0;
    }

    .nav__hamb-menu {
        margin: 8px 19px 0 0;
        padding: 10px 5px;
    }

    .nav__hamb-line {
        width: 23px;
    }

    /* Menu Main */
    .nav__main {
        margin: 0 14px 0 0;
    }

    .nav__links_sign {
        gap: 14px;
    }

    .nav__link_main {
        font-size: 10px;
        line-height: 1.6;
    }

    .nav__link_signin {
        padding: 7px 12px;
    }
}