.search__form {
    margin: 70px 70px 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222222;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
    border-radius: 9px;
}

.search__form-set {
    padding: 19px;
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    border: none;
}

.search__icon {
    margin: 0 0 0 7px;
}

.search__input-text {
    margin: 0 14px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.search__input {
    width: 100%;
    margin: 0;
    background-color: initial;
    border: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 18px;
    line-height: 1.11;
    font-weight: 400;
    color: #FFFFFF;
}

.search__input_error {
    color: #EE3465;
}

.search__error {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    color: #EE3465;
    opacity: 0.8;
}

.search__button-submit {
    background-image: url(../../images/search-icon-white.svg);
    background-color: #4285F4;
    border: none;
    border-radius: 48px;
    background-position: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 17px 40px;
    transition: opacity .2s;
}

.search__button-submit:hover {
    opacity: .6;
}

@media screen and (max-width: 908px) {
    .search__form {
        margin: 80px 30px 108px;
    }
}

@media screen and (max-width: 660px) {
    .search__form {
        margin: 82px 30px 43px;
        flex-direction: column;
        gap: 45px;
        background: none;
    }

    .search__form-set {
        background: #222222;
        box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
        border-radius: 9px;
        padding: 19px 0;
    }

    .search__icon {
        display: none;
    }

    .search__input-text {
        margin: 0;
        padding: 0 15px 0 19px;
    }

    .search__input {
        font-size: 14px;
        line-height: 1.43;
    }

    .search__error {
        font-size: 10px;
        line-height: 1.5;
    }

    .search__border {
        display: none;
    }

    .search__button-submit {
        margin-right: 18px;
    }
}

@media screen and (max-width: 532px) {
    .search__form {
        margin: 80px 10px 43px;
    }
}