.header {
    width: 1280px;
    margin: 0 auto;
    padding: 16px 0;
    min-height: 38px;
    flex-shrink: 0;
}

.header_type_movies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "logo nav nav";
}

.header_type_main-location {
    background-color: #073042;
}

.header_type_main {
    display: flex;
    justify-content: space-between; 
}

.header__link {
    transition: opacity .2s;
}

.header__link:hover {
    opacity: .6;
}

.header__logo {
    margin: 0 0 0 70px;
    grid-area: logo;
    width: 38px;
    height: 38px;
}

@media screen and (max-width: 1296px) {
    .header {
        width: 100%;
    }
    .header_type_movies{
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 908px) {
    .header__logo {
        margin: 0 0 0 30px;
    }
}

@media screen and (max-width: 768px) {
    .header_type_movies{
        justify-content: space-between;
    }

    .header__logo {
        z-index: 3;
    }
}

@media screen and (max-width: 532px) {
    .header__logo {
        margin: 0 0 0 14px;
    }
}