.sign__label {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    color: #8B8B8B;
}

.sign__input {
    width: 100%;
    margin: 10px 0 16px;
    padding: 14px;
    background-color: #2F2F2F;
    border: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.23;
    color: #FFFFFF;
    border-radius: 8px;
}

.sign__input:last-child {
    margin: 10px 0 16px;
}

.sign__input-error {}