.me {
    margin: 0 70px;
    padding: 112px 0 0;
    color: #FFFFFF;
}

.me__title {
    margin: 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.23;
    border-bottom: 1px solid #DADADA;
    padding-bottom: 22px;
    letter-spacing: -0.04em;
}

.me__info {
    display: flex;
    margin: 66px 0 0;
    gap: 50px;
    justify-content: space-between;
}

.me__text {
    max-width: 599px;
}

.me__name {
    margin: 0 0 18px;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.16;
    letter-spacing: -0.04em;
}

.me__job-age {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.11;
}

.me__detailed {
    margin: 26px 0 99px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.57;
}

.me__link {
    cursor: pointer;
    text-decoration: none;
    transition: opacity .2s;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
}

.me__link:hover {
    opacity: .6;
}

.me__avatar {
    border-radius: 12px;
    object-fit: cover;
    width: 270px;
    height: 327px;
}

@media screen and (max-width: 908px) {
    .me {
        margin: 0 50px;
        padding: 91px 0 0;
    }

    .me__avatar {
        width: 255px;
        height: 307px;
    }
}

@media screen and (max-width: 768px) {
    .me__name {
        margin: 0 0 16px;
        font-size: 40px;
        line-height: 1;
    }

    .me__job-age {
        font-size: 12px;
        line-height: 1.5;
    }

    .me__detailed {
        margin: 20px 0 87px;
        font-size: 12px;
        line-height: 1.5;
    }
}

@media screen and (max-width: 604px) {
    .me__info {
        gap: 30px;
    }

    .me__name {
        font-size: 30px;
        line-height: 1.2;
    }

    .me__job-age {
        font-size: 11px;
    }

    .me__detailed {
        font-size: 11px;
        line-height: 1.45;
    }
}

@media screen and (max-width: 532px) {
    .me {
        margin: 0 14px;
        padding: 69px 0 0;
    }

    .me__title {
        font-size: 18px;
        line-height: 1.22;
        padding-bottom: 28px;
    }

    .me__info {
        flex-direction: column-reverse;
        align-items: center;
        margin: 60px 0 0;
        gap: 40px;
    }

    .me__name {
        margin: 0 0 20px;
    }

    .me__detailed {
        margin: 20px 0 40px;
    }

    .me__avatar {
        width: 292px;
        height: 352px;
    }
}